body {
    overflow: hidden;
    display: flex;
    flex-direction: column; /* disposizione verticale */
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Audiowide", sans-serif;
    margin: 0;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* spazio tra navbar e container */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container input {
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px 2px rgb(51, 211, 255);
    border-radius: 10px;
}

.container button {
    font-family: "Audiowide", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 130%;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(51, 211, 255);
    transition: transform 0.3s ease-in-out,
                background-color 0.3s ease-in-out,
                color 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}