body {
    display: flex;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.text {
    display: flex;
    font-family: "Audiowide", sans-serif;
    font-size: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .text input {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px 2px rgb(51, 211, 255);
    border-radius: 10px;
}

.container .text button {
    font-family: "Audiowide", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 130%;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgb(51, 211, 255);
    transition: transform 0.3s ease-in-out, 
                background-color 0.3s ease-in-out, 
                color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
}

.container .text button:hover {
    background-color: rgb(21, 92, 111);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, 
                background-color 0.3s ease-in-out, 
                color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 15px rgb(63, 213, 255);
} 

